.main {
  max-width: 1280px;
  width: 100%;
  margin: 120px auto;
  display: flex;
  justify-content: start;
}

.content {
  max-width: 320px;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
}

.link_active {
  text-decoration: none;
  color: #F2F2F3;
}
