.container {
  position: relative;
  cursor: pointer;
  max-width: 272px;
}

.price {
  display: flex;
  justify-content: center;
  gap: 9px;
  align-items: center;
}

.center {
  text-align: center;
}

.link {
  text-decoration: none;
  color: #F2F2F3;
}